<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>NKBook.pl - Bądź jedną z tysiąca twarzy</title>
    <%= stylesheet_link_tag "reset", "text", "960", "scaffold", :cache => true, :recursive => true %>
    <%= javascript_include_tag "jquery.min", "jquery.hoverIntent.min", "application", :cache => true, :recursive => true %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12055233-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>
  <body>

    <!-- TOP MENU -->
    <div id="menu">
      <div class="container_16">
        <div class="grid_1">&nbsp;</div>
        <div class="grid_5"><%= link_to image_tag('logo.png'), root_path %></div>
        <div class="grid_9">
          <span><%= link_to 'Początek', root_path %></span>
          <span><%= link_to 'Dlaczego?', why_path %></span>
          <span><%= link_to 'FAQ', faq_path %></span>
          <span><%= link_to 'Kontakt', new_feedback_path %></span>
        </div>
        <div class="grid_1">&nbsp;</div>
      </div>
    </div>
    <div class="clear"></div>

    <!-- FLASH MESSAGE -->
    <div id="flash_message">
      <% if flash[:notice] %>
        <p id="flash_notice"><%= flash[:notice] %></p>
        <% flash[:notice] = nil %>
      <% end %>
      <% if flash[:error] %>
        <p id="flash_error"><%= flash[:error] %></p>
        <% flash[:error] = nil %>
      <% end %>
    </div>
    <div class="clear"></div>

    <!-- CONTENT -->
    <div id="main" class="container_16">
      <div class="grid_1">&nbsp;</div>
      <div class="grid_14">
        <%= yield %>
      </div>
      <div class="grid_1">&nbsp;</div>
    </div>
    <div class="clear"></div>

    <!-- FOOTER -->
    <div id="footer">
      <div>
        <span>Copyright NKBook.pl 2010</span>
        <span><%= link_to 'Regulamin', rules_path %></span>
        <span><%= link_to 'Prywatność', privacy_path %></span>
      </div>
    </div>

    <%# render :partial => 'shared/google_analytics' %>
  </body>
</html>
